body {
    background-image: url("../img/superburger.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;
}

#burgerRow {
    flex: 1;
}

div.transbox {
    margin: 2%;
    padding: 30px;
    background-color: rgba(36, 38, 39, 0.6);
    height: 70vh;
    display:flex;
   align-items: center; 
    display: flex;
    align-items: center;
}

div.transbox h2, h3, p {
    color: white;
}

h1 {
    color: black;
    text-align: center;
}

#devoured, #notDevoured {
    text-align: left;
}

.devourbtn {
    float: right;
}

ul {
    list-style-type: none;
}